.titleIcon {
  color: var(--brand-primary);
}

.hashDisplay {
  background-color: var(--ui-bg-medium);
  border: 1px solid var(--ui-border-color);
  font-family: monospace;
}

.passwordInput {
  background-color: var(--ui-bg-medium);
  border: 1px solid #2c2f45;
}

.passwordInput:focus {
  border-color: var(--brand-primary);
}

.finalEntropyDisplay {
  background-color: var(--ui-bg-medium);
  border: 1px solid var(--brand-primary);
  font-family: monospace;
  color: var(--brand-primary);
}

.buttonSecondary {
  background-color: transparent;
  border: 1px solid #2c2f45;
}

.buttonSecondary:hover:not(:disabled) {
  background-color: #232636;
}

.buttonPrimary {
  background-color: var(--brand-primary);
}
