.dangerAlert {
    background-color: color-mix(in srgb, var(--accent-danger) 20%, transparent);
    border: 1px solid var(--accent-danger);
}

.panel {
    background-color: var(--ui-bg-medium);
    border: 1px solid var(--ui-border-color);
}

.buttonDanger {
    background-color: var(--accent-danger);
}

.buttonDanger:hover:not(:disabled) {
    background-color: color-mix(in srgb, var(--accent-danger), black 10%);
}

.buttonSecondary {
    background-color: transparent;
    border: 1px solid #2c2f45;
}

.buttonSecondary:hover:not(:disabled) {
    background-color: #232636;
}
